.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background:#f1f8f1;
}

.header-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.header-logo img {
    width: 35px;
    height: 35px;
}

.header-title {
    font-size: 22px;
    font-weight: 700;
    color: #2d5a27;
}

.header-links a {
    margin: 0 20px;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    cursor: pointer;
}

.header-signin-btn {
    background: transparent;
    border: 1px solid #58a65c;
    color: #58a65c;
    padding: 8px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
}