.hero-section {
    text-align: center;
    padding: 80px 10%;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #111;
    line-height: 1.2;
}

.green-highlight {
    color: #58a65c;
}

.hero-section p {
    color: #666;
    max-width: 650px;
    margin: 25px auto;
    font-size: 18px;
}

.start-btn {
    background: #2d5a27;
    color: white;
    padding: 20px 60px;
    border-radius: 12px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    
}
.start-btn:hover{
    transform: scale(1.05);
    background: #3d7a35;
}
.hero-info-bar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    color: #888;
    font-size: 14px;
    align-items: center;
}
.hero-info-bar span{
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-info-bar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.how-it-works {
    padding: 80px 8%;
    text-align: center;
    background-color: #fafcfa;
}

.steps-grid {
    display: flex;
    gap: 25px;
    margin-top: 50px;
    align-items: stretch;

}

.step-card {
    background: white;
    padding: 40px 25px;
    border-radius: 20px;
    flex: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.step-card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-bottom: 25px;
}

.step-card h3 {
    color: #2d5a27;
    margin-bottom: 15px;
    font-size: 20px;
}

.active-step {
    border: 2px solid #58a65c;
    background-color: #fff;
    transform: translateY(-5px);
}