.hero-section {
    text-align: center;
    padding: 80px 10%;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 800;
    color: #111;
    line-height: 1.2;
}

.green-highlight {
    color: #58a65c;
}

.hero-section p {
    color: #666;
    max-width: 650;
    margin: 25px auto;
    font-size: 18px;
}

.start-btn {
    background: #2d5a27;
    color: white;
    padding: 18px 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.hero-info-bar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    color: #888;
    font-size: 14px;
}

.hero-info-bar img {
    vertical-align: middle;
    margin-right: 5px;
}

.how-it-works {
    padding: 60px 8%;
    text-align: center;
    background-color: #fafcfa;
}

.steps-grid {
    display: flex;
    gap: 25px;
    margin-top: 50px;

}

.step-card {
    background: white;
    padding: 40px 25px;
    border-radius: 20px;
    flex: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);

}

.step-card img {
    width: 50px;
    margin-bottom: 20px;
}

.step-card h3 {
    color: #2d5a27;
    margin-bottom: 15px;
}

.active-step {
    border: 2px solid #58a65c;
}